.jumbotron { 
  background-color: skyblue;
  color: white;
  padding: 100px 25px;
}

.navbar {
  padding: 5 px;
  margin-bottom: 0;
  background-color: salmon;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  font-family: georgia, garamond, serif !important;
  font-style: bold !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
  color: white !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: salmon !important;
  background-color: white !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: white !important;
}

#map, .sidenav {
  padding-top:10 px;
  height:95%;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}