<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AirBnb Listings</title>

        <!-- Our CSS -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/homepage.css') }}">

        <!-- Leaflet JS & CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    </head>

    <body>

        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">AirBnb Listings</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="project_analysis.html">Project Analysis</a>
                        </li> 
                    </ul>
                </div>
            </div>    
        </nav>
        
        <div class="jumbotron jumbotron-fluid text-center"> <div id="neighbourhood" class="container"></div>

        <!-- Drop down panel -->

        <div class="row content">
            <div class= "row">
                <div class="col-md-4 text-center">                 
                    <select class="form-control" id="neighbourhoodselect">
                        <option value="empty">Select neighbourhood</option>
                    </select>
                </div>    
            </div>

        <!-- Map -->

            <div class= "row"></div>
                <div class="col-md-8 text-center">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        
        <!-- API key -->
        <script type="text/javascript" src="static/js/config.js"></script>

        <!-- Our JavaScript -->
        <script type="text/javascript" src="static/js/logic.js"></script> -->

    </body>
</html>